.footer{
    border-top: 2px solid #8d4a23bb;
    height: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    width: 24%;
    height: 80%;
}

.info{
    width: 80%;
    height: 100%;
}

.info-logo{
    width: 100%;
    height:30% ;
    display: flex;
    align-items: flex-end;
    /* border: 1px solid black; */
}
.info-logo img{
    width: 30%;
    height: 100%;
}

.info p{   
    font-size: x-large;
}

.leftmid{
    width: 20%;
    height: 100%;
    /* border: 1px solid black; */
    align-items: center;
}

.Quicklinks{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items:; */
}

.rightmid{
    width: 20%;
    height: 100%;
    /* border: 1px solid black; */
    align-items: center;
}

.right{
    width: 24%;
    height: 100%;
    /* border: 1px solid black; */
    align-items: center;
}

.contact-info{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.follow-logos{
    display: flex;

    gap:15px;
}

.heading{
    color:#8d4a23 ;
    font-size: 30px;
}

.footer_a{
 color: #87947b;   
}

.footer_a:hover{
    color: #8d4a23;
    text-decoration:underline;
}