.footer{
    border-top: 2px solid #8d4a23bb;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    width: 24%;
    height: 80%;
}

.info-img{
    height: 85px;
    width: 80%;
    border:  1px solid black;
    overflow: hidden;
}

.info-img img{
    height: 200px;
    width: 100%;
    position: relative;
    bottom: 50px;
}

.info p{
    width: 80%;
    font-size: larger;
}

.right{
    width: 24%;
    border:  1px solid black;
}
 
.leftmid{
    width: 24%;
    border: 1px solid black;
}

.rightmid{
    width: 24%;
    border: 1px solid black;
}
